<!DOCTYPE html>
<html class="no-js js-menubar" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>设置</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap-table/bootstrap-table.min.css}">
    <script th:src="@{/static/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/bootstrap-table/bootstrap-table.min.js}"></script>
    <style type="text/css">
        .labelTd {
            display: inline;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }
    </style>
</head>

<body>
<div class="panel">
    <h1 class="text-center">定时任务相关参数设置</h1>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th style="text-align:center">key</th>
                <th style="text-align:center">value</th>
                <th style="text-align:center">description</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item,itemStat:${list}">
                    <th th:text="${item.key}" class="text-center" style="padding-top: 10px" name="key"></th>
                    <th name="value">
                        <label class="labelTd">
                            <input name="value" th:id="${'value_' + itemStat.index}" th:value="${item.value}"
                                   class="form-control">
                        </label>
                    </th>
                    <th th:text="${item.desc}" class="text-center" style="padding-top: 10px" name="desc"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="pl-20 pr-20 pt-10 pb-10" style="text-align:center">
            <button type="button" class="btn btn-success save">启动job</button>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        $('.save').on('click', function () {
            const data = [];
            $('tbody tr').each(function (i) {
                const param = {};
                $(this).find('th').each(function () {
                    const $e = $(this);
                    if($e.attr("name") === 'key'){
                        param.key = $e.text();
                    }else if($e.attr("name") === 'desc'){
                        param.desc = $e.text();
                    }else{
                        let jQuery = $e.find('input');
                        param.value = jQuery.val();
                    }
                });
                data[i] = param;
            });

            $.ajax({
                url: "/saveJob",
                type: "post",
                dataType : "json",
                contentType: 'application/json',
                cache: false,
                data: JSON.stringify(data),
                success: function(data) {
                    window.alert(data.msg);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });
    });
</script>
</body>
</html>